body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    color:#2a6aa5;
    text-align: center;
}

h3{
    text-align: center;
}

.boxEnterprise{
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 500px;
    margin: 5%;
    margin-left: auto;
    margin-right: auto; 
}

.actions{
    width: max-content;
    margin-left: auto;
    margin-right: auto; 
    padding: 30px;
}

.actions li{
    display: inline-block;
}
